
mat-list-item button.active{
    transition: .4s all;
    background: #233266 !important;
    color: white !important;
}

mat-list-item {
    padding-left: 5px;
}

mat-list-item button:hover{
    background: #233266 !important;
    color: white !important;
}

mat-list-item:has(button.active),
mat-list-item:hover{
    transition: .4s all;
    padding-left: 25px !important;
    background-color: #2332664f;
}

mat-list-item button.active span,
mat-list-item button.active mat-icon,
mat-list-item button:hover mat-icon,
mat-list-item button:hover span
{
    transition: .4s all;
    font-weight: bolder;
    color: white !important;
}
