<div class="row justify-content-center">
    <div class="col-12">
        <div class="col-12 mb-3">
            <div class="card border h-100 border-light">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-lg-6 col-md-8 col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Recherche ici...</mat-label>
                                <input matInput placeholder="Recherche ici...">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-auto"></div>
                        <div class="col-lg-4 col-md-4 col-12 text-end">
                            <button (click)="addNew()" mat-fab extended class="mx-2" color="primary">
                                <mat-icon>add_circle_outline</mat-icon>
                                Ajouter un rôle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0 fw-bolder text-uppercase" id="card-with-background">
                            <mat-icon aria-hidden="false" color="primary" fontIcon="work"></mat-icon>
                            Liste des rôles
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 bg-body-tertiary">
                <div class="row p-3">
                    <div class="card mb-3">
                        <div class="bg-holder d-none d-lg-block bg-card"
                            style="background-image:url(assets/img/corner-4.png);">
                        </div>
                        <div class="card-body position-relative">
                            <div class="text-end">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>info_outline</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" yPosition="above">
                                    <p class="text-start" style="font-size: x-small">
                                        <button style="width: 20px !important; height: 20px!important"
                                            class="btn_mini_fab_info" mat-mini-fab color="primary" class="mx-2">
                                            <mat-icon style="font-size: 16px!important" class="mt-2">edit</mat-icon>
                                        </button>.
                                        Pour <b class="text-warning">modifier</b> un élément de la liste.
                                    </p>
                                    <p class="text-start" style="font-size: x-small">
                                        <button style="width: 20px !important; height: 20px!important" mat-mini-fab
                                            color="warn" class="mx-2">
                                            <mat-icon style="font-size: 16px!important"
                                                class="mt-2">delete_forever</mat-icon>
                                        </button>.
                                        Pour <b class="text-warning">supprimer</b> un élément de la liste.
                                    </p>

                                </mat-menu>
                            </div>

                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                                        <ng-container matColumnDef="position">
                                            <th mat-header-cell *matHeaderCellDef>#ID.</th>
                                            <td mat-cell *matCellDef="let element">{{element.id}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>Rôle</th>
                                            <td mat-cell *matCellDef="let element">{{element.role}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="symbol">
                                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                                            <td mat-cell *matCellDef="let element">
                                                <div class="d-none d-lg-flex text-center">
                                                    <button mat-mini-fab (click)="updateItem(element)" color="default" class="mx-2">
                                                        <mat-icon>edit_note</mat-icon>
                                                    </button>
                                                    <button mat-mini-fab (click)="delete(element.slug)" color="warn" class="mx-2">
                                                        <mat-icon>delete_forever</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="d-lg-none d-block text-center">
                                                    <button [matMenuTriggerFor]="menu" mat-mini-fab color="" class="mx-2">
                                                        <mat-icon>more_horiz</mat-icon>
                                                    </button>
                                                    <mat-menu #menu="matMenu">
                                                        <button (click)="updateItem(element)" mat-menu-item class="mx-2">
                                                            <mat-icon color="default">edit_note</mat-icon> Modifier
                                                        </button>
                                                        <button (click)="delete(element.slug)" mat-menu-item class="mx-2">
                                                            <mat-icon color="warn">delete_forever</mat-icon> Supprimer
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
