<main class="main" id="top">
    <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6 text-center">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
                <a class="d-flex flex-center mb-4"
                    routerLink="/">
                    <img class="me-2" src="assets/img/logoai.png" alt="" width="98" />
                        <!-- <span class="font-sans-serif fw-bolder fs-5 d-inline-block">falcon</span> -->
                </a>
                <div class="card">
                    <div class="card-body p-4 p-sm-5">
                        <div class="fw-black lh-1 text-300 fs-error">404</div>
                        <p class="lead mt-4 text-800 font-sans-serif fw-semi-bold w-md-75 w-xl-100 mx-auto">
                            La page que vous recherchez est introuvable.
                        </p>
                        <hr />
                        <p>
                            Assurez-vous que l'adresse est correcte et que la page n'a pas bougé. Si vous pensez qu'il s'agit d'une erreur, contactez-nous.
                            <a href="mailto:info@exmaple.com">contactez-nous</a>.
                        </p>
                        <a class="btn btn-primary btn-sm mt-3 text-white" role="button" (click)="back()">
                            <span class="fas fa-home me-2"></span>
                            Retour
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
