<div class="card mb-3">
    <div class="card-header position-relative min-vh-25 mb-7">
        <div class="bg-holder rounded-3 rounded-bottom-0"
            style="background: linear-gradient(90deg, rgba(255,255,255,0.31) 0%, rgba(255,255,255,.81) 81%), url('assets/img/banner.jpeg');">
        </div>
        <!--/.bg-holder-->
        <div class="avatar avatar-5xl avatar-profile">
            <img class="rounded-circle img-thumbnail shadow-sm" src="assets/img/avatar.avif" width="200" alt="" />
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 ps-2 ps-lg-3">
                <div class="card mb-3">
                    <div class="bg-holder d-none d-lg-block bg-card"
                        style="background-image:url(assets/img/corner-4.png);"></div>
                    <!--/.bg-holder-->
                    <div class="card-body position-relative">
                        <div class="row justify-content-around g-1">
                            <div class="col-lg-7 col-12 row">
                                <mat-card>
                                    <mat-card-content>
                                        <div class="">
                                            <h4 class="text-start text-uppercase">Informations personnelles</h4>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Nom</mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-icon matSuffix>person</mat-icon>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Prénoms</mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-icon matSuffix>person</mat-icon>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Téléphone</mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-icon matSuffix>phone</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-lg-5 col-12 row">
                                <mat-card class="bg-transparent">
                                    <mat-card-content>
                                        <div class="col-12">
                                            <mat-list>
                                                <div class="text-start text-uppercase" mat-subheader>Informations pro</div>
                                                <mat-list-item>
                                                    <mat-icon matListItemIcon>fiber_manual_record</mat-icon>
                                                    <div matListItemTitle>Nom de l'entreprise</div>
                                                    <div matListItemLine>Alerte Info</div>
                                                </mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-list-item>
                                                    <mat-icon matListItemIcon>fiber_manual_record</mat-icon>
                                                    <div matListItemTitle>Numéro RCCM</div>
                                                    <div matListItemLine>010-232-444-6466</div>
                                                </mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-list-item>
                                                    <mat-icon matListItemIcon>fiber_manual_record</mat-icon>
                                                    <div matListItemTitle>Statut</div>
                                                    <div matListItemLine class="my-2 text-end">
                                                        <button mat-raised-button color="primary"
                                                            matBadgePosition="before" matBadgeColor="accent">
                                                            Actif
                                                        </button>
                                                    </div>
                                                </mat-list-item>
                                                <mat-divider></mat-divider>
                                            </mat-list>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
